<br>
<hr>
<div>
	El usuario <%= @login %> ha sido creado con éxito.
	Verifique su cuenta de correo electrónico para activar la cuenta
	
	<%= link_to "Volver a intentar el login",:action => "index" %>
</div>
<hr>
<br>
