<p>
  <b>Nombre:</b>
  <%=h @bloquecomida.nombre %>
</p>

<p>
  <b>Order:</b>
  <%=h @bloquecomida.orden %>
</p>


<%= link_to 'Edit', edit_bloquecomida_path(@bloquecomida) %> |
<%= link_to 'Back', bloquecomidas_path %>
